@import "tailwindcss";

@theme {
  --color-obsidian: #061637;
  --color-amber: #cca876;
  --color-slate-gray: #9ba3af;
}

@layer base {
  body {
    background: radial-gradient(circle at top right, #1d1b4b, #0B0E14);
    background-attachment: fixed;
    color: var(--color-slate-gray);
  }
}
