@import "tailwindcss";

@theme {
  --color-obsidian: #0f1115;
  --color-amber: #f59e0b;
  --color-slate-gray: #94a3b8;
}

@layer base {
  body {
    background-color: var(--color-obsidian);
    color: var(--color-slate-gray);
  }
}
